
.container{
  display: inline-block;
  border: solid 2px;
  border-color: rgb(26, 24, 24);
  border-radius: 5%;
  align-items: center;
  margin:0 auto ;
}

.cardFrame {
 display:inline-block;
 border: none;
 text-align: center;
 margin:0 auto; 
 padding: 25px;

}

.button{
  margin-top: 20px;
  border-radius: 15%;
}

.unorderedList {
  text-align: justify;
}